header#main-header {
    margin: var(--size-7) 0;

    h1 {
        font-size: var(--size-7);
        font-weight: var(--font-weight-6);
    }

    .link-primary {
        font-size: var(--size-6);
        line-height: var(--font-lineheight-1);
    }
}
