#product-list, #dishes-list, .table {
    width: 100%;

    td, th {
        text-align: center;
        padding-inline: 0.25rem;
        padding-block: 0.5rem;

        .actions {
            display: flex;
            gap: 0.75rem;
        }
    }

    th {
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    td:first-child, th:first-child {
        text-align: left;
    }
}

#product-details {
    table {
        td {
            padding: 0.25rem;
            font-size: 1.125rem;

            &:first-child {
                font-weight: 700;
            }
        }
    }
}
