.form-control {
    width: 6rem;

    label {
        padding: 0.5rem;
        font-weight: 500;
    }

    .error {
        color: var(--red-4);
    }

    input {
        width: 100%;
    }
}

input[type="text"], input[type="number"], input[type="email"],
input[type="password"], input[type="phone"], input[type="address"],
input[type="search"] {
    padding: 0.5rem;
    background-color: var(--stone-9);
    border-color: var(--stone-7);
    border-radius: var(--radius-2);
}
